<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.nc.mapper.PaymentMapper">

<!-- void updatePaymentStatuts(Payment payment); 결제 상태변경하기 (결제대기 / 결제완료)-->
<update id="updatePaymentStatuts"  parameterType="kr.co.nc.vo.Payment">
	update
		payment
	set
		payment_Status = '예약취소'
	where 
		reservation_id = #{reservationNo}
</update>
<!-- 예약완료 리스트가져오기 -->
<select id="getAllPaymentInfo" parameterType="int" resultType="Payment">
select
    p.payment_id as paymentId,
    p.payment_status as paymentStatus,
    p.payment_total_price as paymentTotalPrice,
    r.reservation_check_in as "reservation.checkIn",
	r.reservation_check_out as "reservation.checkOut",
    r.reservation_id as "reservation.reservationNo",
    a.acco_id as "reservation.Accommodation.id",
    r.room_no as "reservation.AccommodationRoom.no",
    u.user_name as "reservation.users.name",
    a.acco_name as "reservation.acco.name",
    a.ACCO_THUMBNAIL_IMAGE as "reservation.acco.thumbnailImageName"
from reservation r, payment p, users u, ACCOMMODATIONS a
where p.reservation_Id = r.reservation_id
and r.acco_id = a.acco_id
and u.user_no = r.user_no
and r.user_no = #{value}
</select>

<select id="getPaymentInfo" parameterType="string" resultType="Payment">
select
    p.payment_id as paymentId,
    p.payment_status as paymentStatus,
    p.PAYMENT_TOTAL_PRICE as paymentTotalPrice,
    r.reservation_check_in as "reservation.checkIn",
	r.reservation_check_out as "reservation.checkOut",
    r.reservation_id as "reservation.reservationNo",
    a.acco_id as "reservation.Accommodation.id",
    r.room_no as "reservation.AccommodationRoom.no",
    u.user_name as "reservation.users.name",
    a.acco_name as "reservation.acco.name",
    AR.room_name as "reservation.room.name",
    a.ACCO_THUMBNAIL_IMAGE as "reservation.acco.thumbnailImageName"
from reservation r, payment p, users u, ACCOMMODATIONS a, ACCO_ROOMS AR
where p.reservation_Id = r.reservation_id
and r.room_no = AR.room_no
and r.acco_id = a.acco_id
and u.user_no = r.user_no
and r.reservation_id = #{value}
</select>
	<!-- 예약완료된 예약정보가져오기-->
<select id="getReadytoReserveInfoByReserveId" parameterType="int" resultType="kr.co.nc.vo.Payment" >
	
select
    p.payment_id as paymentId,
    p.payment_status as paymentStatus,
    p.payment_total_price as paymentTotalPrice,
    r.reservation_check_in as "reservation.checkIn",
		r.reservation_check_out as "reservation.checkOut",
    r.reservation_id as "reservation.reservationId",
    a.acco_id as "reservation.Accommodation.id",
    r.room_no as "reservation.AccommodationRoom.no",
    u.user_name as "reservation.users.name",
    a.acco_name as "reservation.acco.name",
    a.ACCO_THUMBNAIL_IMAGE as "reservation.acco.thumbnailImageName"
from reservation r, payment p, users u, ACCOMMODATIONS a
where p.reservation_Id = r.reservation_id
and r.acco_id = a.acco_id
and u.user_no = r.user_no
and p.payment_status = '예약완료'
and r.user_no = #{value}
</select>
	<!-- 예약취소된 예약정보 가져오기-->
<select id="getRefundReserveInfoByReserveId" parameterType="int" resultType="kr.co.nc.vo.Payment" >

select
    p.payment_id as paymentId,
    p.payment_status as paymentStatus,
    p.payment_total_price as paymentTotalPrice,
    r.reservation_check_in as "reservation.checkIn",
		r.reservation_check_out as "reservation.checkOut",
    r.reservation_id as "reservation.reservationId",
    a.acco_id as "reservation.Accommodation.id",
    r.room_no as "reservation.AccommodationRoom.no",
    u.user_name as "reservation.users.name",
    a.acco_name as "reservation.acco.name",
    a.ACCO_THUMBNAIL_IMAGE as "reservation.acco.thumbnailImageName"
from reservation r, payment p, users u, ACCOMMODATIONS a
where p.reservation_Id = r.reservation_id
and r.acco_id = a.acco_id
and u.user_no = r.user_no
and p.payment_status = '예약취소'
and r.user_no = #{value}	
</select>
	
<insert id="insertPayment" parameterType="kr.co.nc.vo.Payment">
	insert into payment
		(PAYMENT_ID, payment_total_price,reservation_id)
	values
		( #{paymentId}, #{paymentTotalPrice}, #{reservationNo})
</insert>

</mapper>