<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.nc.mapper.PaymentMapper">

<!-- void updatePaymentStatuts(Payment payment); 결제 상태변경하기 (결제대기 / 결제완료)-->
<update id="updatePaymentStatuts" parameterType="kr.co.nc.vo.Payment">

	update
		payment
	set
		paymnet_Type = #{paymentType}
		payment_Status = #{paymentStatus},
		payment_date = #{paymentDate},
		payment_total_price = #{paymentTotalPrice}
	where 
		payment_id = #{paymentId}
</update>

<select id="getPaymentInfo" parameterType="int" resultType="Payment">
select
    p.payment_id as paymentId,
    p.payment_status as paymentStatus,
    p.payment_total_price as amount,
    r.reservation_check_in as "reservation.checkIn",
		r.reservation_check_out as "reservation.checkOut",
    r.reservation_id as "reservation.reservationId",
    a.acco_id as "reservation.Accommodation.id",
    r.room_no as "reservation.AccommodationRoom.no",
    u.user_name as "reservation.users.name",
    a.acco_name as "reservation.acco.name",
    a.ACCO_THUMBNAIL_IMAGE as "reservation.acco.thumbnailImageName"
from reservation r, payment p, users u, ACCOMMODATIONS a
where p.reservation_Id = r.reservation_id
and r.acco_id = a.acco_id
and u.user_no = r.user_no
and r.user_no = ${value}
</select>

<insert id="insertPayment">
	insert into payment
	(payment_id, payment_status, payment_total_price, reservation_id)
	values
	(${paymentId}, ${paymentStatus}, ${amount}, ${reservationId})
</insert>
</mapper>