<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="kr.co.nc.mapper.ReservationMapper">

<!--void insertReservation(Reservation reservation); -->
<insert id="insertReservation" parameterType="kr.co.nc.vo.Reservation">
	insert into reservation
		(reservation_id, reservation_check_in, reservation_check_out, 
		 reservation_name, reservation_tel, user_no, room_no, acco_id)
	values
		(#{reservationNo}, #{checkIn}, #{checkOut}, #{reserName}, #{reserTel}, #{user.no}, #{roomNo}, #{accoId} )		
</insert>


<!-- 	List<Reservation> getAllReserveInfo 예약정보리스트 가져오기 -->
<select id="getAllReserveInfo" parameterType="int" resultType="Reservation" >
	select 
		r.reservation_id as reservationNo,
		r.reservation_check_in as checkIn,
		r.reservation_check_out as checkOut,
		r.reservation_name as reserName,
		r.reservation_tel as reserTel,
		r.acco_id as "Accommodation.id",
		r.room_no as "AccommodationRoom.no",
		u.user_name as "users.name",
		a.acco_name as "acco.name",
		a.ACCO_THUMBNAIL_IMAGE as "acco.thumbnailImageName"
	from
		reservation r
	INNER join users u
	on r.user_no = u.user_no
	INNER join ACCOMMODATIONS a
	on r.acco_id = a.acco_id
	where r.user_no = u.user_no
	and r.acco_id = a.acco_id
	and r.user_no = #{value}
	order by r.reservation_check_in
</select>


<!-- 	String getReserveInfoByReserveId(int reservationId); 예약정보 한개 가져오기 -->
<select id="getReserveInfoByReserveId" parameterType="String" resultType="kr.co.nc.vo.Reservation">
	select 
		r.reservation_id as reservationNo,
		r.reservation_check_in as checkIn,
		r.reservation_check_out as checkOut,
		r.reservation_name as reserName,
		r.reservation_tel as reserTel,
		r.acco_id as "Accommodation.id",
		r.room_no as "AccommodationRoom.no",
		u.user_name as "users.name",
		a.acco_name as "acco.name",
		a.ACCO_THUMBNAIL_IMAGE as "acco.thumbnailImageName"
	from
		reservation r
	INNER join users u
	on r.user_no = u.user_no
	INNER join ACCOMMODATIONS a
	on r.acco_id = a.acco_id
	where r.user_no = u.user_no
	and r.acco_id = a.acco_id
	and r.reservation_id = #{value}
	order by r.reservation_check_in
</select>


<!-- AccommodationRoom getRoomDetailByroomNo(int roomNo); -->
<select id="getRoomDetailByroomNo" parameterType="Integer" resultType="AccommodationRoom">
		select 	
			room_no as no,
			room_name as name,
			room_numbers as numbers,
			room_capacity as capacity,
			room_day_price as dayPrice,
			room_description as description,
			room_thumbnail_image as thumbnailImage
		from 
			acco_rooms
		where 
			room_no = #{value}
</select>

</mapper>