<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.nc.mapper.RestaurantMapper">


<!-- List<Review> getAllRestaurantReview(); 음식점 리뷰 리스트를 출력하는 코드-->
<select id="getAllRestaurantReview" resultType="kr.co.nc.vo.Review">
	select  
			REVIEW_NO			as no,
			USER_NO				as "user.no",
			RESTAURANT_NO		as "restaurant.no",
			REVIEW_CONTENT		as content,
			REVIEW_LIKE_COUNT	as likeCount,
			REVIEW_CREATED_DATE as createdDate,
			REVIEW_UPDATED_DATE as updatedDate,
			REVIEW_IMAGE		as image,
			REVIEW_POINT		as point
		from
			REVIEW
		where
			ACCO_ID is NULL and REVIEW_DELETED = 'N'
		order by
			REVIEW_CREATED_DATE desc
	
</select>

</mapper>